body {
  overflow-x: hidden;
  margin: 0;
}
html {
  /* El estándar es 16px. Bajándolo a 14px o 15px achicás TODO. */
  font-size: 14px; 
}
body
{
margin:0;
font-family:sans-serif;
background:#f5f5f5
}

@media (max-width: 768px) {
  html {
    font-size: 13px; /* Un punto menos en el celu ayuda a que entre más info */
  }
}


/* ===== Texto Global Pagina ===== */
.texto-pagina{
  text-align:center;
  padding:40px 20px;
  color:black;
}


/* ===== WhatsApp ===== */
 
.whatsapp-flotante{
  position:fixed;
  bottom:20px;
  right:20px;
  width:60px;
  height:60px;
  background:#25D366;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  font-size:30px;
  color:white;
  text-decoration:none;
  z-index:999;
}

.whatsapp-flotante:hover{
  transform:scale(1.1);
  box-shadow:0 6px 15px rgba(0,0,0,0.4);
}


/* Contenedor para que el botón esté abajo y en el medio */
.contenedor-boton-final {
  display: flex;
  justify-content: center;
  margin-top: 50px;       /* Espacio generoso con lo de arriba */
  padding-bottom: 40px;   /* Espacio al final de la pantalla */
  width: 100%;
}

/* Estilo solicitado: Borde amarillo, fondo negro, letras amarillas */
.btn-inicio-estilo {
  text-decoration: none;
  /* background-color: #000000;    Fondo Negro */

    background-color: #FF00FF;  /* Fondo Fuscia */

  color: #ffff00;               /* Letras Amarillas */
  border: 2px solid #ffff00;    /* Borde Amarillo */
  padding: 12px 30px;
  border-radius: 5px;           /* Bordes apenas redondeados, estilo simple */
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Efecto al pasar el mouse o tocar con el dedo */
.btn-inicio-estilo:hover {
  background-color: #ffff00;    /* Invierte colores: fondo amarillo */
  color: #000000;               /* Letras negras */
  cursor: pointer;
}